{% extends 'base.html.twig' %}

{% block title %}New Mesure{% endblock %}

{% block body %}
    <h1>Create new Mesure</h1>

    {{ include('mesure/_form.html.twig') }}

    <a href="{{ path('app_mesure_index') }}">back to list</a>
{% endblock %}
