<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Nouvelle réponse à votre question</title>
</head>
<body>
    <h2>Bonjour</h2>
    <p>Un médecin a répondu à votre question </p>
    <p>Merci d'utiliser notre plateforme !</p>
</body>
</html>
